.loader {
  border: 5px solid rgb(171, 168, 168);
  border-radius: 50%;
  border-top: 5px solid black;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .loader {
    display: none;
  }
}
